@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Contact me via email for more info
    Helena, MT 59601-4447<br />
    <abbr title="Phone">P:</abbr>
    406-459-37**
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Graysen.anson@gmail.com">graysen.anson@gmail.com</a><br />
</address>