@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Graysen's Bicycle Website</h1>
    <h2>This site is to showcase some basic queries from a database, eventually into a full-fledge business site that customers can create accounts and buy bicycles!</h2>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/LBike.jpg" width="600" height="400" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/LadyImage.jpg" width="600" height="400" />
    </div>
</div>